<ul class="nav navbar-nav navbar-right">
  {{#if session.isAuthenticated}}
    <li>
      {{link-to current_user.fullName 'user.index'}}
    </li>
    <li>
      <a {{action 'invalidateSession'}}>Logout</a>
    </li>
  {{else}}
    {{#link-to 'session.new' tagName='li' href=false}}
      {{#link-to "session.new"}}Login{{/link-to}}
    {{/link-to}}
    <li>
      <a href='https://signup.historyseeker.com/charges/new'>
        Sign Up
      </a>
    </li>
  {{/if}}
</ul>
