<ul class="nav navbar-nav navbar-right">
  {{#if session.isAuthenticated}}
    <li>
      <a {{action 'invalidateSession'}}>Logout</a>
    </li>
  {{else}}
    {{#link-to 'session.new' tagName='li' href=false}}
      {{#link-to "session.new"}}Login{{/link-to}}
    {{/link-to}}
    <li>
      {{#link-to 'session.signup'}}
        Sign Up
      {{/link-to}}
    </li>
  {{/if}}
</ul>
