<div class='notes-button'>
  <button class="btn btn-primary btn-fab mdi-content-create btn-three" {{action 'toggleShowing'}}> </button>
</div>
{{#if isShowing}}
  <div class='notes-container'>
    {{textarea
      class="form-control"
      placeholder='Any notes.'
      value=notes
    }}
    <button class='btn btn-primary' {{action 'makeANote'}}>Update Notes</button>
  </div>
{{/if}}
