<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}
        <i class="fa fa-history"></i> <span class="light">un</span>History
      {{/link-to}}
    </div>
  </div>
</nav>
