<footer>
  <ul class="list-inline banner-social-buttons">
    <li>
      <a href="https://twitter.com/SeekHistory" class="btn btn-circle"><i class="fa fa-twitter fa-fw"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/seekhistory" class="btn btn-circle"><i class="fa fa-facebook fa-fw"></i></a>
    </li>
    <li>
      <a href="https://plus.google.com/u/1/communities/106514377338544568534" class="btn btn-circle"><i class="fa fa-google-plus fa-fw"></i></a>
    </li>
  </ul>
  {{base-footer}}
</footer>
