<footer>
  <ul class="list-inline banner-social-buttons">
    <li>
      <a href="https://twitter.com/HistorySeek" class="btn btn-circle"><i class="fa fa-twitter fa-fw"></i></a>
    </li>
    <li>
      <a href="https://facebook.com/historySeeker" class="btn btn-circle"><i class="fa fa-facebook fa-fw"></i></a>
    </li>
    <li>
      <a href="https://plus.google.com/historySeeker" class="btn btn-circle"><i class="fa fa-google-plus fa-fw"></i></a>
    </li>
  </ul>
  <div class="container text-center">
    <p>Copyright &copy; History Seeker 2015</p>
  </div>
</footer>
