<video autoplay loop poster="/assets/images/history_bg.png" id="bgvid">
  <source src="/assets/videos/history_bg.mp4" type="video/mp4">
</video>

<cite>
  <a href='https://archive.org/details/ADriveThroughBunkerHillAndDowntownLosAngelesCa.1940s' target='_blank'>Source</a> This video has been modified. It has been trimmed, cropped, and compressed.
  <a href='http://creativecommons.org/licenses/by/3.0/legalcode' target='_blank'>CC3.0</a> this video is licenced under the Creative Commons Attribution 3.0 license.
</cite>
