<div class="tab-pane active">
  <div class="panel panel-default">
  <ul class="list-group">
    {{#each model.students as |student|}}
        <li class='list-group-item'>
          {{student.fullName}}
        </li>
    {{/each}}
  </ul>
</div>
</div>
