@import "bootstrap_imports";
@import "timeline";

body{
}

// buttons
button, a{
  cursor: pointer;
  &:active, &:focus{
    outline: 0 none;
  }
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
  outline: 0 none;
}

.styless-button{
  background: transparent none;
  border: 0 none transparent;
  text-align: left;
  color: $brand-primary;
  &:hover{
    text-decoration: underline;
  }
  *{
    font-size: 16px;
    font-weight: 400;
    display: inline;
    margin: 0;
    padding: 0;
  }
}
.fact-component{
  margin-bottom: 1em;
}
.map {
  height: 400px;
  width: 100%;
}
.create-new-fact-button{
  margin: 1em 0;
}
.facts-list-container{
  max-height: 400px;
  overflow-x: scroll;
  .panel-body{
    transition: 1s all;
    &.scrolled{
      transition: 1s all;
      background-color: #eee;
      box-shadow: 0 3px 4px #999;
      position: absolute;
      top: 50px;
      left: 15px;
    }
  }
}
