$dark-gray: #555;

@import "bootstrap_imports";
@import "timeline";
@import "video";

body{
  color: $dark-gray;
}

// buttons
button, a{
  cursor: pointer;
  &:active, &:focus{
    outline: 0 none;
  }
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
  outline: 0 none;
}

.styless-button{
  background: transparent none;
  border: 0 none transparent;
  text-align: left;
  color: $brand-primary;
  &:hover{
    text-decoration: underline;
  }
  *{
    font-size: 16px;
    font-weight: 400;
    display: inline;
    margin: 0;
    padding: 0;
  }
}
.fact-component{
  margin-bottom: 1em;
}
.map {
  width: 100%;
}
.create-new-fact-button{
  margin: 1em 0;
}
.facts-list-container{
  max-height: 500px;
  overflow-x: scroll;
  .panel-body{
    transition: 1s all;
    &.scrolled{
      transition: 1s all;
      background-color: #eee;
      box-shadow: 0 3px 4px #999;
      position: absolute;
      top: 50px;
      left: 15px;
      z-index: 9999;
    }
  }
}

// Mailchimp form
.mailing-list{
  .input-grouping{
    margin: 1em 0;
    clear: both;
  }
}
// end mc

// index header
.brand-heading{
  font-size: 5em;
  font-weight: 800;
  margin: 1em 0 0;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 2px 0px #fff;
}
h1.brand-heading{
  color: #fff;
  text-shadow: 0px 2px 0px #444;
}
h2.brand-heading{
  font-size: 3em;
  margin-bottom: 1em;
}
.intro-text{
  text-align: center;
  font-size: 2em;
  margin: 0 0 2em;
  text-shadow: 0px 2px 0px #fff;
  &.index-paragraph{
    color: #fff;
    text-shadow: 0px 2px 0px #444;
  }
}

// end

// Social footer buttons
footer{
  margin-top: 1em;
}
ul.banner-social-buttons {
  text-align: center;
  margin-top: 0;
  .btn{
    border-radius: 50%;
    background-color: lighten($dark-gray, 40%);
    font-size: 4em;
    padding: 5px;
    transition: 1s all;
    &:hover{
      transition: 1s all;
      background-color: $brand-primary;
    }
  }
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
// end social footer buttons
