<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {{#link-to 'teacher.index.index' tagName='li' href='false'}}{{#link-to 'teacher.index.index'}}Students{{/link-to}}{{/link-to}}
    {{#link-to 'teacher.index.curriculums' tagName='li' href='false'}}{{#link-to 'teacher.index.curriculums'}}Curriculums{{/link-to}}{{/link-to}}
  </ul>

  <div class="tab-content">
    {{liquid-outlet}}
  </div>
</div>
