<div class="tab-pane active">
  <div class="panel panel-default">
    <ul class="list-group">
      {{#if isTeacher}}
        {{#each current_user.curriculums as |curriculum|}}
          <li class='list-group-item'>
            {{#link-to 'user.curriculum.show' curriculum}}
              {{curriculum.title}}
            {{/link-to}}
          </li>
        {{/each}}
        <li class='list-group-item'>
          {{#link-to 'user.add-curriculum'}}
            {{fa-icon "plus"}} add curriculum
          {{/link-to}}
        </li>
      {{else}}
        {{#each current_user.teacher.curriculums as |curriculum|}}
          <li class='list-group-item'>
            {{#link-to 'user.curriculum.show' curriculum}}
              {{curriculum.title}}
            {{/link-to}}
          </li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
</div>
