<div class='cards'>
  {{#each current_user.curriculums key='@index' as |curriculum|}}
    {{curriculum-card curriculum=curriculum}}
  {{else}}
    {{empty-notice item='curriculums'}}
  {{/each}}
</div>
{{#link-to 'user.add-curriculum' class='btn btn-primary btn-fab mdi-content-add btn-add' }}
{{/link-to}}
