<div class="tab-pane active">
  <div class="panel panel-default">
    <ul class="list-group">
      {{#each curriculums as |curriculum|}}
        <li class='list-group-item'>
          {{#link-to 'user.curriculum.show' curriculum}}
            {{curriculum.title}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
