<div class='sr-only'>
  <img src='/assets/images/name_and_tag-04.png'>
</div>
{{#if hasError}}
  <div class="alert alert-danger" role="alert">
    {{loginErrorMessage}}
  </div>
{{/if}}
<h1 class='sr-only'>History Seeker - A tool for self-directed history learning.</h1>
{{outlet}}
{{outlet 'modal'}}
