{{#pre-auth-wrapper}}
  {{navigation-component session=session current_user=current_user}}
  <section id="contact" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="brand-heading">
          Contact historySeeker
        </h2>
        <p class='intro-text'>
          If you have any questions please feel free to contact us. We love hearing from you and look forward to addressing any concerns that you might have.
        </p>
        <p class='intro-text'>
          <a href="mailto:info@historyseeker.com">info@historyseeker.com</a>
        </p>
      </div>
    </div>
  </section>
{{/pre-auth-wrapper}}
