{{#pre-auth-wrapper}}
  {{navigation-component session=session current_user=current_user}}
  <section id="how-it-works" class="content-section text-center">
    <div class="how-it-works-section">
      <div class="container">
        <div class="col-sm-12">
          <h2 class="brand-heading">
            How it Works
          </h2>
          <p class="intro-text">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/videoseries?list=PLhMDENDfZozKiin3VzWyqxcdw6D2_1Ci0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </p>
          <p class="intro-text">
            HistorySeeker.com is an application for assisting in self-directed history learning.  Its primary mechanism consists of building a personal database of facts that have both geographical and temporal associations. We beleive that by viewing historical events in both their temporal and geographical context students can move beyond just <em>learning</em> history and they can begin to <em>understand</em> history.</p>
          <p class='intro-text'>
            One of the primary interfaces for viewing the facts consists of a map combined with a time range slider.  In this way a user can easily answer questions like “which areas of the world do I have insufficient knowledge of in the 1600s?”
          </p>
        </div>
      </div>
    </div>
  </section>
{{/pre-auth-wrapper}}
