<h1>Choose Your User:</h1>
<ul>
  {{#each model as |user|}}
    {{#if user.isTeacher}}
      <li>
        {{#link-to 'teacher' user}}
          {{user.fullName}} | {{user.role}}
        {{/link-to}}
        <ul>
          {{#each user.students as |student|}}
            <li>{{student.fullName}}</li>
          {{/each}}
        </ul>
      </li>
    {{/if}}
  {{/each}}
</ul>
