{{#pre-auth-wrapper}}
  {{navigation-component session=session current_user=current_user}}
  <header class="intro">
    <div id="fading" class='intro-color-image'>
    </div>
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">History Seeker</h1>
            <p class="intro-text">
              Add events. Build a curriculum.<br>Learn History.
            </p>
            <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>About History Seeker</h2>
        <p>We beleive that there is a massive gap in well designed tools built specifically for home educators. historySeeker aims to provide you with the infrastructure to develop a high quality, extensible history education. We do this by giving you the tools you need to constuct a curriculum that fits your situation.</p>
        <p>historySeeker was built by software developers, historians, and parents. We use historySeeker in our own homes, with our own children. We care about the education of our children, and that shows in the product that we deliver.</p>
      </div>
    </div>
  </section>
  <section id="how-it-works" class="content-section text-center">
    <div class="how-it-works-section">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>How it Works</h2>
          <p>
            HistorySeeker.com is an application for assisting in self-directed history learning.  Its primary mechanism consists of building a personal database of facts that have both geographical and temporal associations.  One of the primary interfaces for viewing the facts consists of a map combined with a time range slider.  In this way a user can easily answer questions like “which areas of the world do I have insufficient knowledge of in the 1600s?”
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact historySeeker</h2>
        <p>
          If you have any questions please feel free to contact us. We love hearing from you and look forward to addressing any concerns that you might have. xoxo
        </p>
        <p><a href="mailto:info@historyseeker.com">info@historyseeker.com</a>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/HistorySeek" class="btn btn-circle"><i class="fa fa-twitter fa-fw"></i></a>
          </li>
          <li>
            <a href="https://facebook.com/historySeeker" class="btn btn-circle"><i class="fa fa-facebook fa-fw"></i></a>
          </li>
          <li>
            <a href="https://plus.google.com/historySeeker" class="btn btn-circle"><i class="fa fa-google-plus fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
{{/pre-auth-wrapper}}
