{{#pre-auth-wrapper}}
  {{navigation-component session=session current_user=current_user}}
  <section class="content-section single-content text-center">
    <div class="login-section">
      <div class="container">
        <div class="row">
          {{outlet}}
        </div>
      </div>
    </div>
  </section>
{{/pre-auth-wrapper}}
